

.container{
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
 }

.container .mat-drawer {
    min-width: 200px;
}


.container .mat-drawer .mat-button {
display: block;
width: 100%;
text-align: left;

}

.spacer {

    flex: 1 1 auto;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }